/*
 * Copyright 2015 Boundary Devices, Inc.
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

#define PAD_CTL_HYS                     (0x10000)

#define PAD_CTL_PUS_100K_DOWN           (0x00000)
#define PAD_CTL_PUS_47K_UP              (0x04000)
#define PAD_CTL_PUS_100K_UP             (0x08000)
#define PAD_CTL_PUS_22K_UP              (0x0C000)

#define PAD_CTL_PUE                     (0x02000)
#define PAD_CTL_PKE                     (0x01000)
#define PAD_CTL_ODE                     (0x00800)

#define PAD_CTL_SPEED_LOW               (0x00040)
#define PAD_CTL_SPEED_MED               (0x00080)
#define PAD_CTL_SPEED_HIGH              (0x000C0)

#define PAD_CTL_DSE_DISABLE             (0x00000)
#define PAD_CTL_DSE_240ohm              (0x00008)
#define PAD_CTL_DSE_120ohm              (0x00010)
#define PAD_CTL_DSE_80ohm               (0x00018)
#define PAD_CTL_DSE_60ohm               (0x00020)
#define PAD_CTL_DSE_48ohm               (0x00028)
#define PAD_CTL_DSE_40ohm               (0x00030)
#define PAD_CTL_DSE_34ohm               (0x00038)

#define PAD_CTL_SRE_FAST                (0x00001)
#define PAD_CTL_SRE_SLOW                (0x00000)


// 0x17059
#define PAD_MODE_LOWSPEED_47k \
(PAD_CTL_SRE_FAST | PAD_CTL_DSE_80ohm | PAD_CTL_SPEED_LOW | PAD_CTL_PKE | PAD_CTL_PUE | PAD_CTL_PUS_47K_UP | PAD_CTL_HYS)

// 0x170B9
#define PAD_MODE_MEDSPEED_47k \
(PAD_CTL_SRE_FAST | PAD_CTL_DSE_34ohm | PAD_CTL_SPEED_MED | PAD_CTL_PKE | PAD_CTL_PUE | PAD_CTL_PUS_47K_UP | PAD_CTL_HYS)

// 0x170F9
#define PAD_MODE_HIGHSPEED_47k \
(PAD_CTL_SRE_FAST | PAD_CTL_DSE_34ohm | PAD_CTL_SPEED_HIGH | PAD_CTL_PKE | PAD_CTL_PUE | PAD_CTL_PUS_47K_UP | PAD_CTL_HYS)

// 0x1b0b1
#define PAD_MODE_MEDSPEED_100k \
(PAD_CTL_SRE_FAST | PAD_CTL_DSE_40ohm | PAD_CTL_SPEED_MED | PAD_CTL_PKE | PAD_CTL_PUE | PAD_CTL_PUS_100K_UP | PAD_CTL_HYS)

// 0x1b0b0
#define PAD_MODE_MEDSPEED_100k_SLOW \
(PAD_CTL_SRE_SLOW | PAD_CTL_DSE_40ohm | PAD_CTL_SPEED_MED | PAD_CTL_PKE | PAD_CTL_PUE | PAD_CTL_PUS_100K_UP | PAD_CTL_HYS)

// 0x130b0
#define PAD_MODE_MEDSPEED_100kDOWN_SLOW \
(PAD_CTL_SRE_SLOW | PAD_CTL_DSE_40ohm | PAD_CTL_SPEED_MED | PAD_CTL_PKE | PAD_CTL_PUE | PAD_CTL_PUS_100K_DOWN | PAD_CTL_HYS)



// 0x10059
#define PAD_MODE_LOWSPEED \
(PAD_CTL_SRE_FAST | PAD_CTL_DSE_80ohm | PAD_CTL_SPEED_LOW | PAD_CTL_HYS)

// 0x100B9
#define PAD_MODE_MEDSPEED \
(PAD_CTL_SRE_FAST | PAD_CTL_DSE_34ohm | PAD_CTL_SPEED_MED | PAD_CTL_HYS)

// 0x100F9
#define PAD_MODE_HIGHSPEED \
(PAD_CTL_SRE_FAST | PAD_CTL_DSE_34ohm | PAD_CTL_SPEED_HIGH | PAD_CTL_HYS)



#define PAD_MODE_USDHC_50mhz_CLK   PAD_MODE_LOWSPEED
#define PAD_MODE_USDHC_50mhz       PAD_MODE_LOWSPEED_47k
#define PAD_MODE_USDHC_100mhz_CLK  PAD_MODE_MEDSPEED
#define PAD_MODE_USDHC_100mhz      PAD_MODE_MEDSPEED_47k
#define PAD_MODE_USDHC_200mhz_CLK  PAD_MODE_HIGHSPEED
#define PAD_MODE_USDHC_200mhz      PAD_MODE_HIGHSPEED_47k

#define PAD_MODE_UART              PAD_MODE_MEDSPEED_100k

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	iomuxc_imx6q_nitrogen6_max: iomuxc-imx6q-nitrogen6-maxgrp {
		status = "okay";
	};
};

&iomuxc_imx6q_nitrogen6_max {
	pinctrl_audmux_i2s4: i2s4grp {
		fsl,pins = <
			MX6QDL_PAD_SD2_DAT3__AUD4_TXC		PAD_MODE_MEDSPEED_100kDOWN_SLOW
			MX6QDL_PAD_SD2_DAT2__AUD4_TXD		PAD_MODE_MEDSPEED_100k_SLOW
			MX6QDL_PAD_SD2_DAT1__AUD4_TXFS		PAD_MODE_MEDSPEED_100kDOWN_SLOW
			MX6QDL_PAD_SD2_DAT0__AUD4_RXD		PAD_MODE_MEDSPEED_100kDOWN_SLOW
		>;
	};

	pinctrl_i2c3_max98091: i2c3grp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_0__CCM_CLKO1		(PAD_CTL_SRE_FAST | PAD_CTL_DSE_34ohm | PAD_CTL_SPEED_LOW)
		>;
	};

	pinctrl_bt_rfkill: bt-rfkillgrp {
		fsl,pins = <
#define GP_BT_RFKILL_RESET	<&gpio2 4 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_NANDF_D4__GPIO2_IO04		PAD_MODE_MEDSPEED_100kDOWN_SLOW
		>;
	};

	pinctrl_enet: enetgrp {
		fsl,pins = <
			MX6QDL_PAD_ENET_MDIO__ENET_MDIO		PAD_MODE_MEDSPEED_100k_SLOW
			MX6QDL_PAD_ENET_MDC__ENET_MDC		PAD_MODE_MEDSPEED_100k_SLOW
			MX6QDL_PAD_RGMII_TXC__RGMII_TXC		PAD_MODE_MEDSPEED_100kDOWN_SLOW
			MX6QDL_PAD_RGMII_TD0__RGMII_TD0		PAD_MODE_MEDSPEED_100kDOWN_SLOW
			MX6QDL_PAD_RGMII_TD1__RGMII_TD1		PAD_MODE_MEDSPEED_100kDOWN_SLOW
			MX6QDL_PAD_RGMII_TD2__RGMII_TD2		PAD_MODE_MEDSPEED_100kDOWN_SLOW
			MX6QDL_PAD_RGMII_TD3__RGMII_TD3		PAD_MODE_MEDSPEED_100kDOWN_SLOW
			MX6QDL_PAD_RGMII_TX_CTL__RGMII_TX_CTL	PAD_MODE_MEDSPEED_100kDOWN_SLOW
			MX6QDL_PAD_ENET_REF_CLK__ENET_TX_CLK	PAD_MODE_MEDSPEED_100kDOWN_SLOW
			MX6QDL_PAD_RGMII_RXC__RGMII_RXC		PAD_MODE_MEDSPEED_100k_SLOW
			MX6QDL_PAD_RGMII_RD0__RGMII_RD0		PAD_MODE_MEDSPEED_100k_SLOW
			MX6QDL_PAD_RGMII_RD1__RGMII_RD1		PAD_MODE_MEDSPEED_100k_SLOW
			MX6QDL_PAD_RGMII_RD2__RGMII_RD2		PAD_MODE_MEDSPEED_100k_SLOW
			MX6QDL_PAD_RGMII_RD3__RGMII_RD3		PAD_MODE_MEDSPEED_100k_SLOW
			MX6QDL_PAD_RGMII_RX_CTL__RGMII_RX_CTL	PAD_MODE_MEDSPEED_100k_SLOW
#define GP_ENET_PHY_RESET	<&gpio1 25 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_ENET_CRS_DV__GPIO1_IO25	PAD_MODE_MEDSPEED_100kDOWN_SLOW
#define GPIRQ_ENET_PHY		<&gpio1 28 IRQ_TYPE_LEVEL_LOW>
			MX6QDL_PAD_ENET_TX_EN__GPIO1_IO28	PAD_MODE_MEDSPEED_100k_SLOW
// #define GPIRQ_ENET		<&gpio1 6 IRQ_TYPE_LEVEL_HIGH>
// 			MX6QDL_PAD_GPIO_6__ENET_IRQ		0x000b1
		>;
	};

	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX6QDL_PAD_CSI0_DAT9__I2C1_SCL		0x4001b8b1
			MX6QDL_PAD_CSI0_DAT8__I2C1_SDA		0x4001b8b1
		>;
	};

	pinctrl_i2c1_gpio: i2c1_1grp {
		fsl,pins = <
#define GP_I2C1_SCL <&gpio5 27 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_CSI0_DAT9__GPIO5_IO27		0x4001b8b1
#define GP_I2C1_SDA <&gpio5 26 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_CSI0_DAT8__GPIO5_IO26		0x4001b8b1
		>;
	};

//	max98091_irq: max98091-irq {
//		fsl,pins  = <
//			MX6QDL_PAD_EIM_D16__I2C2_SDA		0x000b1 //0x1b0b0
//		>;
//	};

	pinctrl_i2c1_ov5640_gpio: i2c1-ov5640-gpiogrp {
		fsl,pins = <
#define GP_OV5640_MIPI_POWER_DOWN	<&gpio3 10 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_DA10__GPIO3_IO10		PAD_MODE_MEDSPEED_100k_SLOW
#define GP_OV5640_MIPI_RESET		<&gpio3 9 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_DA9__GPIO3_IO09		PAD_MODE_MEDSPEED_100kDOWN_SLOW
		>;
	};

	pinctrl_i2c3: i2c3grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D17__I2C3_SCL		0x4001b8b1
			MX6QDL_PAD_EIM_D18__I2C3_SDA		0x4001b8b1
		>;
	};

	pinctrl_i2c3_gpio: i2c3_1grp {
		fsl,pins = <
#define GP_I2C3_SCL <&gpio3 17 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_D17__GPIO3_IO17		0x4001b8b1
#define GP_I2C3_SDA  <&gpio3 18 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_D18__GPIO3_IO18		0x4001b8b1
		>;
	};

	pinctrl_pwm1: pwm1grp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_9__PWM1_OUT		PAD_MODE_MEDSPEED_100k
		>;
	};

	pinctrl_24mclk: 24mclk-clockgrp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_3__XTALOSC_REF_CLK_24M		PAD_MODE_MEDSPEED_100k
		>;
	};

	pinctrl_reg_usbotg_vbus: reg-usbotg-vbusgrp {
		fsl,pins = <
#define GP_REG_USBOTG_ENABLE	<&gpio4 14 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_KEY_COL4__GPIO4_IO14		PAD_MODE_MEDSPEED_100kDOWN_SLOW
		>;
	};

	pinctrl_reg_usbhost_vbus: reg-usbotg-hostgrp {
		fsl,pins = <
#define GP_REG_USBHOST_ENABLE	<&gpio3 31 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_D31__GPIO3_IO31		PAD_MODE_MEDSPEED_100kDOWN_SLOW
		>;
	};

	pinctrl_reg_lvds_backlight_supply: reg-lvds-backlight_supplygrp {
		fsl,pins = <
#define GP_REG_LVDS_LED_SUPPLY	<&gpio2 31 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_EB3__GPIO2_IO31		PAD_MODE_MEDSPEED_100kDOWN_SLOW
		>;
	};

	pinctrl_reg_lvds_backlight_enable: reg-lvds-backlight_enablegrp {
		fsl,pins = <
#define GP_REG_LVDS_LED_ENABLE	<&gpio1 5 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_5__GPIO1_IO05		PAD_MODE_MEDSPEED_100kDOWN_SLOW
		>;
	};

	// this is the group that is always 'active'
	pinctrl_hog: hoggrp {
//		fsl,pins = <
//		>;
	};

	pinctrl_reg_sd3: reg-sd3-grp {
		fsl,pins = <
#define GP_SD3_RESET	<&gpio7 8 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_SD3_RST__GPIO7_IO08	PAD_MODE_MEDSPEED_100kDOWN_SLOW
		>;
	};

	pinctrl_reg_touch_en: reg-touch-grp {
		fsl,pins = <
#define GP_REG_TOUCH_EN	<&gpio4 26 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_DISP0_DAT5__GPIO4_IO26	PAD_MODE_MEDSPEED_100kDOWN_SLOW
		>;
	};

	pinctrl_reg_wlan_en: reg-wlan-grp {
		fsl,pins = <
#define GP_REG_WLAN_EN	<&gpio6 8 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_NANDF_ALE__GPIO6_IO08	PAD_MODE_MEDSPEED_100kDOWN_SLOW
		>;
	};

	pinctrl_reg_bt_en: reg-bt-grp {
		fsl,pins = <
#define GP_REG_BT_EN	<&gpio2 5 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_NANDF_D5__GPIO2_IO05		PAD_MODE_MEDSPEED_100kDOWN_SLOW
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX6QDL_PAD_SD3_DAT7__UART1_TX_DATA	PAD_MODE_UART
			MX6QDL_PAD_SD3_DAT6__UART1_RX_DATA	PAD_MODE_UART
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX6QDL_PAD_SD4_DAT4__UART2_RX_DATA	PAD_MODE_UART
			MX6QDL_PAD_SD4_DAT5__UART2_RTS_B	PAD_MODE_UART
			MX6QDL_PAD_SD4_DAT6__UART2_CTS_B	PAD_MODE_UART
			MX6QDL_PAD_SD4_DAT7__UART2_TX_DATA	PAD_MODE_UART
		>;
	};

	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D24__UART3_TX_DATA	PAD_MODE_UART
			MX6QDL_PAD_EIM_D25__UART3_RX_DATA	PAD_MODE_UART
		>;
	};
	
	pinctrl_uart4: uart4grp {
		fsl,pins = <
			MX6QDL_PAD_CSI0_DAT12__UART4_TX_DATA	PAD_MODE_UART
			MX6QDL_PAD_CSI0_DAT13__UART4_RX_DATA	PAD_MODE_UART
		>;
	};

	pinctrl_uart5: uart5grp {
		fsl,pins = <
			MX6QDL_PAD_CSI0_DAT14__UART5_TX_DATA	PAD_MODE_UART
			MX6QDL_PAD_CSI0_DAT15__UART5_RX_DATA	PAD_MODE_UART
		>;
	};

	pinctrl_usbotg: usbotggrp {
		fsl,pins = <
			MX6QDL_PAD_ENET_RX_ER__USB_OTG_ID		PAD_MODE_LOWSPEED_47k
		>;
	};

	pinctrl_usdhc4_50mhz: usdhc4grp {
		fsl,pins = <
			MX6QDL_PAD_SD4_CLK__SD4_CLK		PAD_MODE_USDHC_50mhz_CLK
			MX6QDL_PAD_SD4_CMD__SD4_CMD		PAD_MODE_USDHC_50mhz
			MX6QDL_PAD_SD4_DAT0__SD4_DATA0		PAD_MODE_USDHC_50mhz
			MX6QDL_PAD_SD4_DAT1__SD4_DATA1		PAD_MODE_USDHC_50mhz
			MX6QDL_PAD_SD4_DAT2__SD4_DATA2		PAD_MODE_USDHC_50mhz
			MX6QDL_PAD_SD4_DAT3__SD4_DATA3		PAD_MODE_USDHC_50mhz

			MX6QDL_PAD_ENET_RXD0__OSC32K_32K_OUT	0x000b0		/* slow clock */
#define GPIRQ_CBM283	<&gpio2 0 IRQ_TYPE_LEVEL_HIGH>
			MX6QDL_PAD_NANDF_D0__GPIO2_IO00	0x100b0
		>;
	};

	pinctrl_usdhc4_100mhz: usdhc4grp-100mhz {
		fsl,pins = <
			MX6QDL_PAD_SD4_CLK__SD4_CLK		PAD_MODE_USDHC_100mhz_CLK
			MX6QDL_PAD_SD4_CMD__SD4_CMD		PAD_MODE_USDHC_100mhz
			MX6QDL_PAD_SD4_DAT0__SD4_DATA0		PAD_MODE_USDHC_100mhz
			MX6QDL_PAD_SD4_DAT1__SD4_DATA1 		PAD_MODE_USDHC_100mhz
			MX6QDL_PAD_SD4_DAT2__SD4_DATA2 		PAD_MODE_USDHC_100mhz
			MX6QDL_PAD_SD4_DAT3__SD4_DATA3 		PAD_MODE_USDHC_100mhz
		>;
	};

	pinctrl_usdhc4_200mhz: usdhc4grp-200mhz {
		fsl,pins = <
			MX6QDL_PAD_SD4_CLK__SD4_CLK		PAD_MODE_USDHC_200mhz_CLK
			MX6QDL_PAD_SD4_CMD__SD4_CMD		PAD_MODE_USDHC_200mhz
			MX6QDL_PAD_SD4_DAT0__SD4_DATA0		PAD_MODE_USDHC_200mhz
			MX6QDL_PAD_SD4_DAT1__SD4_DATA1		PAD_MODE_USDHC_200mhz
			MX6QDL_PAD_SD4_DAT2__SD4_DATA2		PAD_MODE_USDHC_200mhz
			MX6QDL_PAD_SD4_DAT3__SD4_DATA3		PAD_MODE_USDHC_200mhz
		>;
	};

	pinctrl_usdhc3_50mhz: usdhc3grp-50mhz {
		fsl,pins = <
			MX6QDL_PAD_SD3_CLK__SD3_CLK		PAD_MODE_USDHC_50mhz_CLK
			MX6QDL_PAD_SD3_CMD__SD3_CMD		PAD_MODE_USDHC_50mhz
			MX6QDL_PAD_SD3_DAT0__SD3_DATA0		PAD_MODE_USDHC_50mhz
			MX6QDL_PAD_SD3_DAT1__SD3_DATA1		PAD_MODE_USDHC_50mhz
			MX6QDL_PAD_SD3_DAT2__SD3_DATA2		PAD_MODE_USDHC_50mhz
			MX6QDL_PAD_SD3_DAT3__SD3_DATA3		PAD_MODE_USDHC_50mhz
			MX6QDL_PAD_NANDF_CS1__SD3_VSELECT	0x100b0		/* sd3 voltage select */
		>;
	};

	pinctrl_usdhc3_100mhz: usdhc3grp-100mhz {
		fsl,pins = <
			MX6QDL_PAD_SD3_CLK__SD3_CLK		PAD_MODE_USDHC_100mhz_CLK
			MX6QDL_PAD_SD3_CMD__SD3_CMD		PAD_MODE_USDHC_100mhz
			MX6QDL_PAD_SD3_DAT0__SD3_DATA0		PAD_MODE_USDHC_100mhz
			MX6QDL_PAD_SD3_DAT1__SD3_DATA1		PAD_MODE_USDHC_100mhz
			MX6QDL_PAD_SD3_DAT2__SD3_DATA2		PAD_MODE_USDHC_100mhz
			MX6QDL_PAD_SD3_DAT3__SD3_DATA3		PAD_MODE_USDHC_100mhz
		>;
	};

	pinctrl_usdhc3_200mhz: usdhc3grp-200mhz {
		fsl,pins = <
			MX6QDL_PAD_SD3_CLK__SD3_CLK		PAD_MODE_USDHC_200mhz_CLK
			MX6QDL_PAD_SD3_CMD__SD3_CMD		PAD_MODE_USDHC_200mhz
			MX6QDL_PAD_SD3_DAT0__SD3_DATA0		PAD_MODE_USDHC_200mhz
			MX6QDL_PAD_SD3_DAT1__SD3_DATA1		PAD_MODE_USDHC_200mhz
			MX6QDL_PAD_SD3_DAT2__SD3_DATA2		PAD_MODE_USDHC_200mhz
			MX6QDL_PAD_SD3_DAT3__SD3_DATA3		PAD_MODE_USDHC_200mhz
		>;
	};

	pinctrl_usdhc1_50mhz: usdhc1grp_50mhz {
		fsl,pins = <
			MX6QDL_PAD_SD1_CLK__SD1_CLK		PAD_MODE_USDHC_50mhz_CLK
			MX6QDL_PAD_SD1_CMD__SD1_CMD		PAD_MODE_USDHC_50mhz
			MX6QDL_PAD_SD1_DAT0__SD1_DATA0		PAD_MODE_USDHC_50mhz
			MX6QDL_PAD_SD1_DAT1__SD1_DATA1		PAD_MODE_USDHC_50mhz
			MX6QDL_PAD_SD1_DAT2__SD1_DATA2		PAD_MODE_USDHC_50mhz
			MX6QDL_PAD_SD1_DAT3__SD1_DATA3		PAD_MODE_USDHC_50mhz
			MX6QDL_PAD_KEY_COL1__SD1_VSELECT	0x100b0		/* sd1 voltage select */
		>;
	};
	
		pinctrl_usdhc1_100mhz: usdhc1grp-100mhz {
		fsl,pins = <
			MX6QDL_PAD_SD1_CLK__SD1_CLK		PAD_MODE_USDHC_100mhz_CLK
			MX6QDL_PAD_SD1_CMD__SD1_CMD		PAD_MODE_USDHC_100mhz
			MX6QDL_PAD_SD1_DAT0__SD1_DATA0		PAD_MODE_USDHC_100mhz
			MX6QDL_PAD_SD1_DAT1__SD1_DATA1		PAD_MODE_USDHC_100mhz
			MX6QDL_PAD_SD1_DAT2__SD1_DATA2		PAD_MODE_USDHC_100mhz
			MX6QDL_PAD_SD1_DAT3__SD1_DATA3		PAD_MODE_USDHC_100mhz
		>;
	};

	pinctrl_usdhc1_200mhz: usdhc1grp-200mhz {
		fsl,pins = <
			MX6QDL_PAD_SD1_CLK__SD1_CLK		PAD_MODE_USDHC_200mhz_CLK
			MX6QDL_PAD_SD1_CMD__SD1_CMD		PAD_MODE_USDHC_200mhz
			MX6QDL_PAD_SD1_DAT0__SD1_DATA0		PAD_MODE_USDHC_200mhz
			MX6QDL_PAD_SD1_DAT1__SD1_DATA1		PAD_MODE_USDHC_200mhz
			MX6QDL_PAD_SD1_DAT2__SD1_DATA2		PAD_MODE_USDHC_200mhz
			MX6QDL_PAD_SD1_DAT3__SD1_DATA3		PAD_MODE_USDHC_200mhz
		>;
	};
};

/ {
	aliases {
		backlight_lvds = &backlight_lvds;
		bt_rfkill = &bt_rfkill;
		bt_kim = &bt_kim;
		fb_lvds = &fb_lvds;
		fb_lvds2 = &fb_lvds2;
		ldb = &ldb;
		mmc0 = &usdhc3;
		mmc1 = &usdhc1;
 		mmc2 = &usdhc4;
		mxcfb1 = &fb_lvds;
		mxcfb3 = &fb_lvds2;
		pwm_lvds = &pwm1;
		t_lvds = &t_lvds;
		t_lvds2 = &t_lvds2;
	};

	backlight_lvds: backlight_lvds {
		compatible = "pwm-backlight";
		brightness-levels = <0 1 2 6 12 20 30 45 60 80 100 120 150 180 215 255>;
		default-brightness-level = <12>;
		display = <&fb_lvds>;
		pwms = <&pwm1 0 5000000>;
		power-supply = <&reg_lvds_backlight_enable>;
	};


	btwilink {
		compatible = "btwilink";
	};

	bt_kim: bt_kim {
		compatible = "kim";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_bt_rfkill>;
		nshutdown_gpio = GP_BT_RFKILL_RESET;
		dev_name = "/dev/ttymxc1";
		flow_cntrl = <1>;
		baud_rate = <3000000>;
		status = "okay";
	};

	bt_rfkill: bt_rfkill {
		compatible = "net,rfkill-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_bt_rfkill>;
		name = "bt_rfkill";
		type = <2>;	/* bluetooth */
		reset-gpios = GP_BT_RFKILL_RESET;
		status = "disabled";
	};

	caam_keyblob {
		compatible = "fsl,sec-v4.0-keyblob";
	};

	clocks {
		clk24m: clk24m {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24000000>;
		};
	};

	fake_poweroff {
		compatible = "fake-poweroff";
// gpio that will wake us up -- not sure if we have anything available... maybe proximity sensor?
// 		gpios = <&gpio2 3 GPIO_ACTIVE_LOW>;
		watchdog = <&wdog1>;
	};

	fb_lvds: fb@0 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "ldb";
		interface_pix_fmt = "RGB24";
		default_bpp = <24>;
		int_clk = <0>;
		late_init = <0>;
		status = "okay";
	};

	fb_lvds2: fb@2 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "ldb";
		interface_pix_fmt = "RGB24";
		default_bpp = <24>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};


// 	gpio-keys {
// 		compatible = "gpio-keys";
// 		pinctrl-names = "default";
// 		pinctrl-0 = <&pinctrl_gpio_keys>;
// 		power {
// 			label = "Power Button";
// 			gpios = GP_GPIOKEY_POWER;
// 			linux,code = <KEY_POWER>;	/* or KEY_SEARCH */
// 			gpio-key,wakeup;
// 		};
// 	};

	memory {
		reg = <0x10000000 0xeffffc00>;
	};

	ramoops_device {
		compatible = "fsl,mxc_ramoops";
		record_size = <524288>; /*512K*/
		console_size = <262144>; /*256K*/
		ftrace_size = <262144>;  /*256K*/
		dump_oops = <1>;
		status = "okay";
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_1p8v: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "1P8V";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
		};

		reg_2p5v: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "2P5V";
			regulator-min-microvolt = <2500000>;
			regulator-max-microvolt = <2500000>;
			regulator-always-on;
		};

		reg_3p3v: regulator@2 {
			compatible = "regulator-fixed";
			reg = <2>;
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		reg_usbotg_vbus: regulator@3 {
			compatible = "regulator-fixed";
			reg = <3>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_usbotg_vbus>;
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = GP_REG_USBOTG_ENABLE;
			enable-active-high;
		};

		reg_usbhost_vbus: regulator@4 {
			compatible = "regulator-fixed";
			reg = <4>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_usbhost_vbus>;
			regulator-name = "usb_host_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = GP_REG_USBHOST_ENABLE;
			enable-active-high;
		};

		reg_lvds_backlight_supply: regulator@5 {
			compatible = "regulator-fixed";
			reg = <5>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_lvds_backlight_supply>;
			regulator-name = "lvds_backlight_supply";
			regulator-min-microvolt = <12000000>;
			regulator-max-microvolt = <12000000>;
			gpio = GP_REG_LVDS_LED_SUPPLY;
			enable-active-high;
			startup-delay-us = <1000000>;
		};

		reg_lvds_backlight_enable: regulator@6 {
			compatible = "regulator-fixed";
			reg = <6>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_lvds_backlight_enable>;
			regulator-name = "lvds_backlight_enable";
			regulator-min-microvolt = <2500000>;
			regulator-max-microvolt = <2500000>;
			gpio = GP_REG_LVDS_LED_ENABLE;
			enable-active-high;
			vin-supply = <&reg_lvds_backlight_supply>;
		};

		reg_usdhc3: regulator@7 {
			compatible = "regulator-fixed";
			reg = <7>;
			regulator-name = "usdhc3_regulator";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			enable-active-high;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_sd3>;
			gpio = GP_SD3_RESET;
		};

		reg_wlan_en: regulator@8 {
			compatible = "regulator-fixed";
			reg = <8>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_wlan_en>;
			regulator-name = "wlan-en";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = GP_REG_WLAN_EN;
			startup-delay-us = <70000>;
			enable-active-high;
		};

		reg_touch_en: regulator@9 {
			compatible = "regulator-fixed";
			reg = <9>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_touch_en>;
			regulator-name = "touch-en";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = GP_REG_TOUCH_EN;
			regulator-always-on;
		};

		reg_bt_en: regulator@10 {
			compatible = "regulator-fixed";
			reg = <10>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_bt_en>;
			regulator-name = "bt-en";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = GP_REG_BT_EN;
			enable-active-high;
			regulator-always-on;
		};
	};

// dummy device for testing regulators
	userspace-consumer {
		compatible = "reg-userspace-consumer";
		regulator-name = "nazgee-consumer";
		regulator-supplies = "regbt";
		regulator-boot-on;
		status = "okay";

		regbt-supply = <&reg_bt_en>;
	};

	sound-asoc {
		compatible = "fsl,imx-audio-max98091";
		model = "max98091-audio";
		ssi-controller = <&ssi1>;
		audio-codec = <&max98091>;
		audio-routing =
			"Headphone Jack", "HP_OUT";
		mux-int-port = <1>;
		mux-ext-port = <4>;
	};

	v4l2_cap_0 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <0>;
		mclk_source = <0>;
		status = "disabled";
	};

	v4l2_cap_1: v4l2_cap_1 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <1>;
		mipi_camera = <1>;
		mclk_source = <0>;
		status = "okay";
	};

	v4l2_cap_2: v4l2_cap_2 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <1>;
		mclk_source = <0>;
		status = "disabled";
	};

	v4l2_cap_3: v4l2_cap_3 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <0>;
		mipi_camera = <1>;
		mclk_source = <0>;
		status = "disabled";
	};

	v4l2_out {
		compatible = "fsl,mxc_v4l2_output";
		status = "okay";
	};
};

&audmux {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_audmux_i2s4>;
	status = "okay";
};

&fec {
	status = "okay";
//	interrupts-extended = GPIRQ_ENET,
//		<&gpc 0 119 IRQ_TYPE_LEVEL_HIGH>;
	phy-handle = <&ethphy>;
	phy-mode = "rgmii";
	phy-supply = <&reg_3p3v>;
	// not sure why none of below works
//	phy-reset-gpios = GP_ENET_PHY_RESET;
//	phy-reset-duration = <100>;
//	local-mac-address = [00 04 9F 01 1B B9];
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet>;

	mdio {
		#address-cells = <0>;
		#size-cells = <1>;

		ethphy: ethernet-phy@3 {
			reg = <3>;
			interrupts-extended = GPIRQ_ENET_PHY;
		};
	};
};

&i2c1 {
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c1>;
	pinctrl-1 = <&pinctrl_i2c1_gpio>;
	scl-gpios = GP_I2C1_SCL;
	sda-gpios = GP_I2C1_SDA;
	status = "okay";

	ov5640_mipi: ov5640_mipi@3c {
		compatible = "ovti,ov5640_mipi";
		reg = <0x3c>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c1_ov5640_gpio &pinctrl_24mclk>;
		clocks = <&clk24m 0>;
		clock-names = "csi_mclk";
		DOVDD-supply = <&reg_1p8v>;
		AVDD-supply = <&reg_2p5v>;
		DVDD-supply = <&reg_1p8v>;
		pwn-gpios = GP_OV5640_MIPI_POWER_DOWN;
		rst-gpios = GP_OV5640_MIPI_RESET;
		ipu_id = <0>;
		csi_id = <1>;
		mclk = <24000000>;
		mclk_source = <0>;
	};
};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	pinctrl-1 = <&pinctrl_i2c3_gpio>;
	scl-gpios = GP_I2C3_SCL;
	sda-gpios = GP_I2C3_SDA;
	status = "okay";

	max98091: audio-codec@10 {
		compatible = "maxim,max98091";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c3_max98091>;
		reg = <0x10>;
		interrupt-parent = <&gpio3>;
		interrupts = <16 GPIO_ACTIVE_LOW>;
		clocks = <&clks IMX6QDL_CLK_CKO>;
		clock-names = "mclk";
	};
};

&ldb {
	split-mode = <1>;
	status = "okay";

	lvds-channel@0 {
		crtc = "ipu1-di1";
		fsl,data-mapping = "spwg";
		fsl,data-width = <24>;
		status = "okay";
		primary;

		display-timings {
			t_lvds: t_lvds_default {
				clock-frequency = <148500148>;
				hactive = <1920>;
				vactive = <1080>;
				hback-porch = <148>;
				hfront-porch = <88>;
				vback-porch = <36>;
				vfront-porch = <4>;
				hsync-len = <44>;
				vsync-len = <5>;
			};
		};
	};

	lvds-channel@1 {
		crtc = "ipu1-di0";
		fsl,data-mapping = "spwg";
		fsl,data-width = <18>;
		status = "okay";

		display-timings {
			t_lvds2: t_lvds2_default {
				/* lg1280x800_2 values may be changed in bootscript */
				clock-frequency = <72000000>;
				hactive = <1280>;
				vactive = <800>;
				hback-porch = <48>;
				hfront-porch = <80>;
				vback-porch = <15>;
				vfront-porch = <2>;
				hsync-len = <32>;
				vsync-len = <6>;
			};
		};
	};
};

&mipi_csi {
	lanes = <2>;
	status = "okay";
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1>;
	status = "okay";
};

&ssi1 {
	fsl,mode = "i2s-master";
	status = "okay";
};

&ssi2 {
	fsl,mode = "i2s-slave";
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	fsl,uart-has-rtscts;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
// 	control-gpios = GP_UART5_RX_EN, GP_UART5_TX_EN, GP_UART5_RS485_EN, GP_UART5_AON;
// #define M_RX_EN		1
// #define M_TX_EN		2
// #define M_RS485		4
// #define M_AON		8
// 	off_levels = <0>;
// 	rxact_mask = <0>;
// 	rxact_levels = <0>;
// 	rs232_levels = <M_RX_EN>;
// 	rs232_txen_mask = <0>;
// 	rs232_txen_levels = <0>;
// 	rs485_levels = <0xd>;
// 	rs485_txen_mask = <0x3>;
// 	rs485_txen_levels = <M_TX_EN>;
// 	uart-has-rs485-half-duplex;
// 	rs485-mode = <1>;	/* 1 to enable */
	status = "okay";
};

&usbh1 {
	vbus-supply = <&reg_usbhost_vbus>;
	// not sure how to enable OC, see ci-hdrc-imx.txt
	disable-over-current;
	status = "okay";
};

&usbotg {
	vbus-supply = <&reg_usbotg_vbus>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg>;
	// not sure how to enable OC, see ci-hdrc-imx.txt
	disable-over-current;
	status = "okay";
};

&usdhc4 {	/* uSDHC4, CBM283IQ2B */
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc4_50mhz>;
	pinctrl-1 = <&pinctrl_usdhc4_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc4_200mhz>;
	bus-width = <4>;
	vmmc-supply = <&reg_wlan_en>;
	non-removable;
	vqmmc-1-8-v;
	cap-power-off-card;
	keep-power-in-suspend;
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;
	wlcore: wlcore@2 {
// few of our boards have different modules - wl1831, wl1835 and wl1837
		compatible = "ti,wl1831";
		interrupts-extended = GPIRQ_CBM283;
		reg = <2>;
		ref-clock-frequency = <38400000>;
	};
};

&usdhc3 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz", "sleep";
	pinctrl-0 = <&pinctrl_usdhc3_50mhz>;
	pinctrl-1 = <&pinctrl_usdhc3_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc3_200mhz>;
	pinctrl-3 = <&pinctrl_usdhc3_50mhz>;
	bus-width = <4>;
 	vmmc-supply = <&reg_usdhc3>;
	non-removable;
	status = "okay";
};

&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz", "sleep";
	pinctrl-0 = <&pinctrl_usdhc1_50mhz>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	pinctrl-3 = <&pinctrl_usdhc1_50mhz>;
	bus-width = <4>;
//  	vmmc-supply = <&reg_usdhc1>;
	non-removable;
	status = "okay";
};
